name: GitHub Metrics

on:
  workflow_dispatch:

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          user: L7

          plugin_activity: yes
          plugin_activity_days: 365
          plugin_activity_filter: all
